{% extends "articles/base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}
  {% if article.image.name %}
    <div class="mb-2">
      <img class="img-fluid" src="{{ article.image_730x350.url }}" alt="{{ article.title }}" />
    </div>
  {% endif %}

  {% if article.category_id %}
    <div class="py-1 font-weight-bold text-uppercase">
      <a href="{{ article.category.get_absolute_url }}"
         class="text-info">{{ article.category.name }}</a>
    </div>
  {% endif %}
  <h1>{{ article.title }}</h1>

  <p>{{ article.published_at | default_if_none:"Not published" }}</p>

  <div class="content">
    {{ article.content | safe }}
  </div>
{% endblock %}
