{% extends "articles/base.html" %}

{% block title %}Articles{% endblock %}

{% block main %}
  <div class="mt-4">
    {% for article in articles %}
      <div class="mb-5">
        {% if article.image.name %}
          <div class="mb-2">
            <a href="{% url 'articles:detail' article.pk %}">
              <img class="img-fluid" src="{{ article.image_730x350.url }}" alt="{{ article.title }}" />
            </a>
          </div>
        {% endif %}
        {% if article.category_id %}
          <div class="py-1 font-weight-bold text-uppercase">
            <a href="#" class="text-info">{{ article.category.name }}</a>
          </div>
        {% endif %}
        <h2>
          <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
        </h2>
        <p>{{ article.description }}</p>
      </div>
    {% empty %}
      <p>No articles so far. We are working on it...</p>
    {% endfor %}
  </div>
{% endblock %}
