{% extends "articles/base.html" %}
{% load bootstrap4 gravatar %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}
  {% if article.image.name %}
    <div class="mb-2">
      <img class="img-fluid" src="{{ article.image_730x350.url }}" alt="{{ article.title }}" />
    </div>
  {% endif %}

  {% if article.category_id %}
    <div class="py-1 font-weight-bold text-uppercase">
      <a href="{{ article.category.get_absolute_url }}"
         class="text-info">{{ article.category.name }}</a>
    </div>
  {% endif %}
  <h1>{{ article.title }}</h1>

  <p>{{ article.published_at | default_if_none:"Not published" }}</p>

  <div class="content">
    {{ article.content | safe }}
  </div>

  <hr class="mt-5" />
  <h3>Comments</h3>

  {% if user.is_authenticated %}
    <form method="post" class="mt-4">
      {% csrf_token %}

      {% bootstrap_form form %}

      {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
    </form>
  {% endif %}

  <div class="mt-2 mb-5">
    {% for comment in article.comments.all %}
      <div class="media mt-4">
        {% gravatar comment.user.email 64 comment.user.get_short_name 'gravatar mr-3' %}
        <div class="media-body">
          <h6>
            {{ comment.created_at }} by <a href="{% url 'users:detail' comment.user.pk %}">
              {{ comment.user.get_short_name }}</a>
          </h6>
          <div>{{ comment.content }}</div>
        </div>
      </div>
    {% empty %}
      <p class="text-muted">No comments so far.</p>
    {% endfor %}
  </div>
{% endblock %}
