{% extends "layouts/master.html" %}

{% block title %}{{ account.get_short_name | default:account.username }}{% endblock %}

{% block content %}
  <div class="mt-4 row">
    <div class="col-12">
      <h1>{{ account.get_short_name | default:account.username }}'s Profile</h1>
      <hr />

      <dl class="row">
        <dt class="col-2">Username</dt>
        <dd class="col-10">{{ account.username }}</dd>

        <dt class="col-2">Name</dt>
        <dd class="col-10">{{ account.first_name }}</dd>

        <dt class="col-2">Date joined</dt>
        <dd class="col-10">{{ account.date_joined }}</dd>
      </dl>
    </div>
  </div>
{% endblock %}
