{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    {# Main styles #}
    <link rel="stylesheet" href="{% static 'fonts/FontAwesome/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

    <title>{% block title %}Home{% endblock %} - The News</title>
  </head>
  <body class="d-flex flex-column h-screen">
    {% include "partials/header.html" %}

    <main class="main container flex-grow-1 mt-4">
      {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}

    {# Main scripts #}
    <script src="{% static 'js/jquery-3.5.1.slim.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  </body>
</html>
