@import url('../fonts/Inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }

  body {
    font-family: 'Inter var', sans-serif;
  }
}

.h-screen {
  height: 100vh;
}

.header-logo {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header-logo:hover {
  text-decoration: none;
}

.header .navbar {
  border-bottom: 1px var(--gray) solid;
}
